body {
    font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

h1 {
    color: #639d4f;
    font-size: 32pt;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row-content {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    align-items: center;
}

.router-form {
    height: 35px;
    display: flex;
}

.enter-point {
    width: 250px;
    background-color: #f3f3f3;
    border-radius: 10px;
    text-align: center;
    border: 0;
}

.enter-point::placeholder {
    text-align: center;
}

.route-box {
    border-radius: 10px;
    border: 0;
    height: 40px;
    margin-top: 10px;
}

.add-btn {
    margin-left: 5px;
    width: 35px;
    border: 0;
    color: #639d4f;
    border-radius: 10px;
    background-color: #b2ffb4;
    transition: 0.5s;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #a1dda3;
}

.route-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 290px;
}

.check-btn {
    margin-top: 15px;
    border: 0;
    border-radius: 10px;
    background-color: #83ff88;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    transition: 1s;
}

.check-btn:hover {
    background-color: #a1dda3;
}

p {
    width: 325px;
    display: flex;
    flex-direction: column;
}

p span {
    margin-top: 10px;
}
